/* Animation keys */
@-webkit-keyframes orbit {
	0%		{ -webkit-transform:rotate(45deg); } 

	5%		{ -webkit-transform:rotate(45deg);
			  -webkit-animation-timing-function: ease-out; } 

	70%		{ -webkit-transform:rotate(405deg); 
			  -webkit-animation-timing-function: ease-in; }

	100%	{ -webkit-transform:rotate(405deg); } 
}

@-moz-keyframes orbit {
	0%		{ -moz-transform:rotate(45deg); } 

	5%		{ -moz-transform:rotate(45deg);
			  -moz-animation-timing-function: ease-out; } 

	70%		{ -moz-transform:rotate(405deg); 
			  -moz-animation-timing-function: ease-in; }

	100%	{ -moz-transform:rotate(405deg); } 
}
@-ms-keyframes orbit {
	0%		{ -ms-transform:rotate(45deg); } 

	5%		{ -ms-transform:rotate(45deg);
			  -ms-animation-timing-function: ease-out; } 

	70%		{ -ms-transform:rotate(405deg); 
			  -ms-animation-timing-function: ease-in; }

	100%	{ -ms-transform:rotate(405deg); } 
}

@-o-keyframes orbit {
	0%		{ -o-transform:rotate(45deg); } 

	5%		{ -o-transform:rotate(45deg);
			  -o-animation-timing-function: ease-out; } 

	70%		{ -o-transform:rotate(405deg); 
			  -o-animation-timing-function: ease-in; }

	100%	{ -o-transform:rotate(405deg); } 
}

@keyframes orbit { 
	0%		{ transform:rotate(45deg); } 
	
	5%		{ transform:rotate(45deg);
			  animation-timing-function: ease-out; } 

	70% 	{ transform:rotate(405deg); 
			  animation-timing-function: ease-in; }

	100%	{ transform:rotate(405deg); } 
}


@-webkit-keyframes text {
	0%		{-webkit-transform:scale(0.2,0.2);
			 -webkit-animation-timing-function: ease-out; } 

	40%,60%{ -webkit-transform:scale(1,1); 
			  -webkit-animation-timing-function: ease-out;  }

	70%,100%{ -webkit-transform:scale(0.2,0.2);  } 
}

@-moz-keyframes text {
	0%		{-moz-transform:scale(0.2,0.2);
			 -moz-animation-timing-function: ease-out; } 

	50%		{ -moz-transform:scale(1,1); 
			  -moz-animation-timing-function: ease-out;  }

	60%		{ -moz-transform:scale(1,1); 
			-moz-animation-timing-function: ease-out;  }

	100%	{ -moz-transform:scale(0.2,0.2);  } 	
}

@-mos-keyframes text {
	0%		{-mos-transform:scale(0.2,0.2);
			 -mos-animation-timing-function: ease-out; } 

	50%		{ -mos-transform:scale(1,1); 
			  -mos-animation-timing-function: ease-out;  }

	60%		{ -mos-transform:scale(1,1); 
			  -mos-animation-timing-function: ease-out;  }

	100%	{ -mos-transform:scale(0.2,0.2);  } 
}

@-o-keyframes text {
	0%		{ -o-transform:scale(0.2,0.2);
			  -o-animation-timing-function: ease-out; } 

	50%		{ -o-transform:scale(1,1); 
			  -o-animation-timing-function: ease-out;  }

	60%		{ -o-transform:scale(1,1); 
			  -o-animation-timing-function: ease-out;  }

	100%	{ -o-transform:scale(0.2,0.2);  } 
}

@keyframes text {
	0%		{ transform:scale(0.2,0.2);
			  animation-timing-function: ease-out; } 

	50%		{ transform:scale(1,1); 
			  animation-timing-function: ease-out;  }

	60%		{ transform:scale(1,1); 
			  animation-timing-function: ease-out;  }

	100%	{ transform:scale(0.2,0.2);  } 
}
