.pic1 img {
    opacity: 0.9;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    transition: all 0.4s;
}

.pic1 img:hover {
    opacity: 1.0;
    filter: blur(0);
    -webkit-filter: blur(0);
    background: rgba(228, 228, 228, 0.363);
    transform: scale(1.05);
}

.rounded.image {
    border-radius: 5px;
}

.avatar {
    margin-right: 0.25em;
    display: inline-block;
    width: 2em;
    height: 2em;
    border-radius: 500rem;
}