.pic1 img {
    opacity: 0.93;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    transition: all 0.4s;
}

.pic1 img:hover {
    opacity: 1.0;
    filter: blur(0);
    -webkit-filter: blur(0);
    background: rgba(228, 228, 228, 0.363);
    transform: scale(1.05);
}

.rounded.image {
    border-radius: 5px;
}
